.carousel-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-controls h2 a {
  font-size: 46px;
  margin: 0 50px;
}
.carousel-item.active {
  text-decoration: initial;
}
.carousel-inner {
  padding: 5px 0 30px 0;
}