.carousel-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.carousel-controls h2 a {
  font-size: 46px;
  margin: 0 50px;
}
.carousel-item.active {
  text-decoration: initial;
}
