* {
  font-size: 15px;
  /* border: 1px solid red; */
  
  margin: 0px;
}
/* .col {
  padding: 0px;
} */
body {
  margin-top: 6em;
}
.nav-link, .navbar-brand {
  font-size: 2em;
}
h1 {
  text-align: center;
}

/* Fixed Header Nav
-------------------------------------------------- */
/* Fixed nav css is all bootstrap. 
   The following is for the profile icon */
nav .profile-icon {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50% / 50%;
  border: 3px solid white;
  background-image: url("../images/thumb/oreo.jpg");
  background-attachment: center;
  background-size: 110%;
  background-repeat: no-repeat;
}

/* Profile Page
-------------------------------------------------- */
.profile.card {
  width: 80vw;
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.profile.card .card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.profile h2.card-title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.profile h2.card-title span {
  font-size: 1em;
  font-weight: normal;
}
.profile .card-text {
  font-size: 1.25em;
}
.profile .stats {
  font-size: 1.25em;
  line-height: 1em;
}
.profile .stats span {
  font-size: 1.15em;
  font-weight: bolder;
  margin-right: .5em;
}
.profile .card-footer a {
  font-size: 1.15em;
}


/* Sticky Footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px; /* Margin + footer height = 40px */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer .container {
  margin: auto;
  text-align: center;
  max-width: 680px;
  padding: 0 15px;
}