* {
  font-size: 15px;
  /* border: 1px solid red; */
}
body {
  margin-top: 120px; /* Push content down out from under nav bar */
}
.nav-link, .navbar-brand {
  font-size: 2em;
}
h1 {
  text-align: center;
}
span {
  font-size: 1em;
}
/* add cursor pointers to all font-awesome edit buttons */
i {
  cursor: pointer;
}

/* Fixed Header Nav
-------------------------------------------------- */
/* Fixed nav css is all bootstrap.
   The following is for the profile icon */
nav .profile-icon {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50% / 50%;
  border: 3px solid white;
  /* background-image: url("../images/thumb/oreo.jpg"); */
  background-size: 110%;
  background-repeat: no-repeat;
}
nav .profile-icon:hover {
  border-color: #bbb;
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}
.navbar-collapse {
  padding-bottom: 6px;
}
.active {
  text-decoration: underline;
}

/* Profile Page
-------------------------------------------------- */
.profile.card {
  width: 80vw;
  max-width: 650px;
  min-height: 700px;
  margin: auto;
  border-radius: 15px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.profile.card .card-img-top {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .card-body {
  min-height: 20vh;
}
.profile h2.card-title {
  font-size: 2em;
  text-align: center;
}
.profile .card-text {
  font-size: 1.25em;
}
.profile .stats {
  font-size: 1.25em;
  line-height: 1em;
}
.profile .stat {
  margin-left: .5em;

}
.profile span.bold {
  font-size: 1.15em;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: bolder;

}
.profile .card-footer a {
  font-size: 1.15em;
}

/* Editing Profile Page
-------------------------------------------------- */
.fa-edit.edit-title {
  font-size: .75em;
  margin-left: .25em;
}
.fa-edit.edit-bio, .fa-edit.edit-stat {
  font-size: 1em;
  margin-left: .25em;
}
.editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 1em;
}
.editor.title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
}
.editor.title input {
  margin: 5px 0;
  text-align: center;
}
.editor.title button {
  width: 80%;
  font-size: .75em;
  -ms-flex-item-align: center;
      align-self: center;
}
.editor.bio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.editor.bio textarea {
  width: 90%;
  margin: 0 auto;
}
.editor.bio button {
  width: 150px;
  font-size: 1.25em;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 5px;
}
.editor.stat {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.editor.stat input {
  width: 40vw;
  max-width: 250px;
  margin: 0 7px;
}

/* Sticky Footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px; /* Margin + footer height = 40px */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer .container {
  margin: auto;
  text-align: center;
  max-width: 680px;
  padding: 0 15px;
}
